<h3>Страница для ввода</h3>
Logged in as <%= @current_user.email %>.

<%= form_tag("/result", :method => "get") do %>
  <%= label_tag("Number to check:") %>
  <%= text_field_tag(:number) %>
  <br/>
  <%= submit_tag("Output result") %>
<% end %> 

<%= link_to "Log Out", logout_path %>